---
name: Populate Renovate resources
on:
  pull_request:
    branches:
      - main
permissions:
  contents: write
  id-token: write # needed for keyless signing
jobs:
  resources:
    name: renovate-config
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'renovate[bot]' }}
    steps:
      - name: Clone repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Configure gitsign
        uses: chainguard-dev/actions/setup-gitsign@18e5e3427cf9d6bcfbefe60dca48e40292f000c5 # v1.5.13

      - name: Install The Latest Release Version of Zarf
        uses: zarf-dev/setup-zarf@10e539efed02f75ec39eb8823e22a5c795f492ae # v1.0.1

      - name: Update manifests
        env:
          GH_TOKEN: ${{ github.token }}
        if: ${{ !startsWith(github.ref, 'refs/heads/renovate/') }}
        run: |-
          ./.github/hack/zarf.sh

      - name: Commit & Push changes
        uses: actions-js/push@5a7cbd780d82c0c937b5977586e641b2fd94acc5 # v1.5
        with:
          branch: ${{ github.head_ref }}
          message: "chore(resources): updated resources files"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          author_name: renovate[bot]
          author_email: <29139614+renovate[bot]@users.noreply.github.com>
